<html>
  <head>
    <title>Pokemanager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body  style="font-family: sans-serif">
    <div class="container">
      <h2>Get Pokemon Stats</h2>
      <br>
      <form action="" method="post">
        <select name="auth">
           <option value="google">Google Login</option>
           <option value="ptc">PTC Login</option>
        </select> 
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" name="type" value="Show My Raw Data">
        <input class="btn btn-default" type="submit" name="type" value="Show My Poke">
        <input class="btn btn-default" type="submit" name="type" value="Download CSV">
        <br>
        <input class="btn btn-default" type="submit" name="type" value="Show Raw Game Data">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
